python-telegram-bot[asyncio,webhooks]==21.6
aiohttp==3.11.11

asyncpg==0.30.0
sqlalchemy[asyncio]==2.0.36
alembic==1.13.3
redis[hiredis]==5.2.0
httpx==0.27.2
pydantic-settings==2.6.1
apscheduler==3.10.4
python-dotenv==1.0.1
langdetect==1.0.9
psycopg2-binary==2.9.10
